<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cerulean/bootstrap.min.css" />
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <title>SignUp</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    
    <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/">ShopHere</a>
    </div>

  </nav>
  <br>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">Login</h1>

          {{#if success_msg}}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{success_msg}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{/if}}

          {{#if error_msg}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{error_msg}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{/if}}
          
          {{#if error}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{error}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {{/if}}

          <form action="/users/login" method="POST">

            <div class="form-group">
              <label for="username">UserName</label>
              <input type="text" id="username" name="username" class="form-control" placeholder="Enter Username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
            </div>
            <button type="submit" class="btn btn-danger btn-block">Login</button>
          </form>
          
          {{!-- <p class="lead mt-4">
           <a href="/users/login/facebook" class="btn btn-warning btn-block"><i class="fab fa-facebook"></i>Login with Facebook</a>
          </p> --}}
          
           <p class="lead mt-4">
           <a href="/users/login/github" class="btn btn-warning btn-block">Login with Github</a>
          </p>
          <p class="lead mt-4">
           <a href="/users/login/google" class="btn btn-warning btn-block">Login with Google</a>
          </p>
          <p class="lead mt-4">
            No Account? <a href="/users/signup">signup</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>